.login-container {
  /* Add styles to center the container vertically and horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Set minimum height to 100% of viewport height */
}

.login-form {
  /* Add styles to the form */
  /* max-width: 400px; Set maximum width for the form */
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for a subtle effect */
}

.form-input {
  /* Add styles to form inputs */
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-input:focus {
  /* Add styles when input is focused */
  outline: none;
  border-color: #007bff;
}

.btn-signup{
    /* Add styles to the login button */
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.forgotpass{
    /* Add styles to the forgot password link */
    text-align: right;
    margin-top: 10px;
}
